* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 80%;
}

.App-header {
  background-color: indigo;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.react-datepicker-wrapper {
  width: 60%;
}
.react-datepicker__input-container {
  width: 60%;
  margin: 0 auto;
  display: inline-block;
}

.react-datepicker {
  left: 80%;
}
.margin {
  margin: 30px 0;
}

.container {
  color: #282c34;
  text-align: center;
}

h1 {
  font-weight: normal;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}
